.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  &.mobile {
    transform: rotate(90deg) translateY(-100%);
    transform-origin: 0 0;
  }
}

.counterRotation-90 {
  transform: rotate(90deg) translateY(-100%);
}
.counterRotation90 {
  transform: rotate(-90deg) translateY(-100%);
}
